<!DOCTYPE HTML>
<html>
    <head>
        <title>Spring boot Webservice</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <h1>Start Spring boot Webservice</h1>
    </body>
</html>